<?php

return [
    'tidy' => [
        'enable' => true,
        'config' => [
            'indent-spaces' => 2,
            'wrap' => 0,
            'tab-size' => 4,
            'char-encoding' => 4,
            'input-encoding' => 4,
            'output-encoding' => 4,
            'newline' => 'LF',
            'doctype' => 'html5',
            'repeated-attributes' => TRUE,
            'alt-text' => '',
            'error-file' => '',
            'output-file' => '',
            'write-back' => FALSE,
            'markup' => TRUE,
            'show-info' => TRUE,
            'show-warnings' => TRUE,
            'quiet' => FALSE,
            'indent' => TRUE,
            'coerce-endtags' => TRUE,
            'omit-optional-tags' => FALSE,
            'hide-endtags' => FALSE,
            'input-xml' => FALSE,
            'output-xml' => FALSE,
            'output-xhtml' => FALSE,
            'output-html' => FALSE,
            'add-xml-decl' => FALSE,
            'uppercase-tags' => FALSE,
            'uppercase-attributes' => FALSE,
            'bare' => FALSE,
            'clean' => FALSE,
            'gdoc' => FALSE,
            'logical-emphasis' => FALSE,
            'drop-proprietary-attributes' => FALSE,
            'drop-font-tags' => FALSE,
            'drop-empty-elements' => FALSE,
            'drop-empty-paras' => TRUE,
            'fix-bad-comments' => TRUE,
            'break-before-br' => FALSE,
            'split' => FALSE,
            'numeric-entities' => FALSE,
            'quote-marks' => FALSE,
            'quote-nbsp' => TRUE,
            'quote-ampersand' => TRUE,
            'wrap-attributes' => FALSE,
            'wrap-script-literals' => FALSE,
            'wrap-sections' => TRUE,
            'wrap-asp' => TRUE,
            'wrap-jste' => TRUE,
            'wrap-php' => TRUE,
            'fix-backslash' => TRUE,
            'indent-attributes' => FALSE,
            'assume-xml-procins' => FALSE,
            'add-xml-space' => FALSE,
            'enclose-text' => FALSE,
            'enclose-block-text' => FALSE,
            'keep-time' => FALSE,
            'word-2000' => FALSE,
            'tidy-mark' => FALSE,
            'gnu-emacs' => FALSE,
            'gnu-emacs-file' => '',
            'literal-attributes' => FALSE,
            'show-body-only' => FALSE,
            'fix-uri' => TRUE,
            'lower-literals' => TRUE,
            'hide-comments' => FALSE,
            'indent-cdata' => FALSE,
            'force-output' => TRUE,
            'show-errors' => 6,
            'ascii-chars' => FALSE,
            'join-classes' => FALSE,
            'join-styles' => TRUE,
            'escape-cdata' => FALSE,
            'language' => 'en',
            'ncr' => TRUE,
            'output-bom' => FALSE,
            'replace-color' => TRUE,
            'css-prefix' => 'tidy',
            'new-inline-tags' => '',
            'new-blocklevel-tags' => '',
            'new-empty-tags' => '',
            'new-pre-tags' => '',
            'accessibility-check' => FALSE,
            'vertical-space' => FALSE,
            'punctuation-wrap' => FALSE,
            'merge-emphasis' => TRUE,
            'merge-divs' => FALSE,
            'decorate-inferred-ul' => FALSE,
            'preserve-entities' => FALSE,
            'sort-attributes' => FALSE,
            'merge-spans' => FALSE,
            'anchor-as-name' => TRUE,
            'indent-with-tabs' => FALSE,
            'skip-nested' => TRUE,
        ],
    ],
];
